html,
body,
div,
h1,
span,
p,
input,
header,
section {
    padding: 0;
    margin: 0;
    font-size: 0.01rem;
}

html,
body {
    background-color: rgb(243, 242, 248);
    height: 100%;
}

#boy {
    /* height: 3.95rem; */
    background-color: #fff;
}

header {
    font-size: 0.32rem;
    color: #0E193A;
    line-height: 0.32rem;
    padding: 0.2rem 0.17rem;
    padding-bottom: 0.39rem
}

section {
    padding: 0 0.23rem;
    padding-bottom: 0.14rem;
}

section p {
    /* height: 0; */
    font-size: 0.01rem;
    padding-bottom: 0.14rem;
    border-bottom: 1px solid #EBEBEB;
    overflow: hidden;
}

section p span {
    font-size: 0.16rem;
    line-height: 0.22rem;
    color: #000000;

}

section p input {
    font-size: 0.14rem;
    line-height: 0.2rem;
    color: #CECED1;
    border: none;
    padding-left: 0.26rem;
    outline: none;
}

.ppp {
    padding-bottom: 0.10rem;
}
#userCode{
    width: 40%
}
#username{
    padding-left: 0.4rem;
}
#code {

    text-align: center;
    font-size: 0.12rem;
    width: 0.7rem;
    height: 0.3rem;
    line-height: 0.3rem;
    display: inline-block;
    border-radius: 0.04rem;
    margin-right: 0.06rem;
    float: right;
}

.green {
    border: 1px solid #00C68E;
    color: #00C68E;
}

.gray {
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
}

.sen {
    padding-bottom: 0;
}

#but {

    margin-top: 0.21rem;
    width: 100%;
    height: 0.44rem;
    border-radius: 0.07rem;
    font-size: 0.2rem;
    line-height: 0.44rem;
    text-align: center;
    margin-bottom: 0.45rem;
    border: none;
    outline: none;
}

.butOn {
    background: #00C68E;
    color: #fff;
}

.butOff {
    color: #D1D1D1;
    background: #F1F1F1;
}

.footer {
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px solid #F0EFF4;
    background-color: rgb(243, 242, 248);
    text-align: center;
    font-size: 0.12rem;
}

.footer p {

    margin-top: 0.2rem;
    font-size: 0.12rem;
    line-height: 0.24rem;
    color: #C2C1C6;
    margin-bottom: 0.87rem;
}

.foo {

    /* margin-bottom: 0.42rem; */
    text-align: center;
}

.foo span {
    display: inline-block;
    height: 0.36rem;
    width: 0.7rem;
    box-sizing: border-box;

}

.foo .let {
    margin-top: 0.1rem;
    width: 0.8rem;
    background: url('../images/zhima@2x.png') no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.rig {
    background: url('../images/dadaologo@2x.png') no-repeat;
    background-size: contain;
    vertical-align: middle;

}

#l {
    height: 0.36rem;
    width: 0.01rem;
    border: 1px solid #E1E1E1;
    margin: 0 0.07rem;
    vertical-align: middle;
}